<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
      <div class="meta">
        <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-name" itemprop="name">
            <% if (page.author) { %><%- page.author %>
                <% } else { %><%- config.author %>
                    <% } %>
          </span>
        </span>
        <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
          <%- partial('_partial/post/category') %>
            <%- partial('_partial/post/tag') %>
      </div>
  </header>
  <%- partial('_partial/post/gallery') %>
    <div class="content e-content" itemprop="articleBody">
      <script async src="https://npm.elemecdn.com/penndu@1.0.0/bsz.js"></script>
      <div class="views" style="display: flex; text-align:center; gap: 8px;">
        <i class="fa-solid fa-eye" style="align-content: center; margin-right: 12px;"></i>
        <span id="busuanzi_value_page_pv"></span>views
      </div>
      <span class="post-count">
        Word count: <%= wordcount(page.content) %>
          (~<%= min2read(page.content) %> mins to read)
      </span>
      <%- page.content %>
    </div>
</article>
<%- partial('_partial/comments') %>